<div class="container centered-container">
  <mat-card>
    <mat-card-title>
      Confirmation
      <mat-icon>help_outline</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <div class="confirmation-content">
        <p style="color: white">
          Are you sure you want to proceed with this action?
        </p>
        <div class="button-group">
          <button mat-raised-button color="primary" (click)="close(true)">
            Yes
          </button>
          <button mat-raised-button color="warn" (click)="close(false)">
            No
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
