<div class="centered-container">
  <div class="threads-container">
    <mat-form-field>
      <input
        matInput
        type="search"
        [(ngModel)]="searchQuery"
        placeholder="Search..."
        (ngModelChange)="search($event)"
      />
      <button matSuffix disabled="true" mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-card *ngFor="let thread of data.data" class="thread-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="thread-avatar"
          [ngStyle]="{
            'background-image': 'url(' + (thread.image || defaultImage) + ')'
          }"
        ></div>
        <mat-card-title>{{ thread.title }}</mat-card-title>
        <mat-card-subtitle [routerLink]="['/user', thread.authorId]">
          By {{ thread.authorNickname }} xxx |
          {{ thread.creationDate | date : "shortDate" }}
        </mat-card-subtitle>
        <mat-slide-toggle
          [checked]="thread.subscribe"
          (change)="onChange(thread.threadId)"
        ></mat-slide-toggle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ thread.description }}</p>
        <div class="tags-and-actions">
          <div class="tags">
            <span *ngFor="let tag of thread.tags" class="tag">#{{ tag }}</span>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="details-button"
            (click)="onDetails(thread.threadId)"
          >
            Details
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-paginator
      [length]="data.totalCount"
      [pageSize]="data.pageSize"
      [pageSizeOptions]="[2, 5, 10, 15]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
