<div class="app-container">
  <header>
    <mat-toolbar color="primary" class="header-toolbar">
      <span class="header-title" routerLink="/">Forum</span>
      <span class="spacer"></span>
      <a
        *ngIf="!isLoggedIn"
        mat-button
        class="header-link"
        routerLink="user/login"
      >
        <mat-icon>login</mat-icon>
        Log in
      </a>
      <a
        *ngIf="!isLoggedIn"
        mat-button
        class="header-link"
        routerLink="user/register"
      >
        <mat-icon>person_add</mat-icon>
        Register
      </a>
      <!-- <ng-container *ngIf="isLoggedIn">
        <div *ngIf="isAdmin">
          <a mat-button class="header-link" (click)="goAdmin()">
            <mat-icon>build</mat-icon>
            Admin
          </a>
        </div>
        <a mat-button class="header-link" (click)="goEdit()">
          <mat-icon>account_circle</mat-icon>
          Profile
        </a>
        <a mat-button class="header-link" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Log out
        </a>
      </ng-container> -->
      <ng-container *ngIf="isLoggedIn">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="isAdmin">
            <a mat-button class="header-link" (click)="goAdmin()">
              <mat-icon>build</mat-icon>
              Admin
            </a>
          </div>
          <a mat-button class="header-link" (click)="goEdit()">
            <mat-icon>account_circle</mat-icon>
            Profile
          </a>
          <a mat-button class="header-link" routerLink="threads/thread/add">
            <mat-icon>library_adde</mat-icon>
            Add thread
          </a>
        </mat-menu>
        <a mat-button class="header-link" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Log out
        </a>
      </ng-container>
    </mat-toolbar>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <mat-toolbar color="primary" class="footer-toolbar">
      <div class="footer-content">
        <div class="footer-section">
          &copy; 2024 - Forum -
          <a routerLink="/privacy" class="footer-link">Privacy</a>
        </div>
        <div class="footer-section">
          <mat-icon style="padding-right: 4px">terminal</mat-icon>Authors -
          <a
            href="https://github.com/BubbleWaffle"
            class="footer-link"
            target="_blank"
            >Błażej K</a
          >
          <a
            href="https://github.com/desi451"
            class="footer-link"
            target="_blank"
            >Mikołaj D</a
          >
        </div>
      </div>
    </mat-toolbar>
  </footer>
</div>
