<div class="container">
  <mat-card class="thread-card">
    <mat-card-header>
      <div
        mat-card-avatar
        class="thread-avatar"
        [ngStyle]="{
          'background-image': 'url(' + (data.images[0] || defaultImage) + ')'
        }"
      ></div>
      <mat-card-title>{{ data.title }}</mat-card-title>
      <mat-card-subtitle>
        By {{ data.author }} |
        {{ data.creationDate | date : "shortDate" }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ data.description }}</p>
      <div *ngIf="!parentThread" class="tags-and-actions">
        <div class="tags">
          <span *ngFor="let tag of data.tags" class="tag">#{{ tag }}</span>
        </div>
      </div>
      <div *ngIf="data.images.length > 1" class="container-small">
        <mat-card class="example-card" appearance="outlined">
          <img
            class="img-slides"
            mat-card-image
            [src]="data.images[currentIndex] || defaultImage"
          />
          <mat-card-actions>
            <button
              mat-button
              (click)="goToPrevious()"
              [disabled]="currentIndex === 1"
            >
              PREVIOUS
            </button>
            <button
              mat-button
              (click)="goToNext()"
              [disabled]="currentIndex === data.images.length - 1"
            >
              NEXT
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <button
        mat-raised-button
        class="button-left"
        color="primary"
        (click)="openForm(data.threadId)"
      >
        Comment
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="data.subthreads.length > 0" style="padding-left: 20px">
  <app-thread
    *ngFor="let subthread of data.subthreads"
    [thread]="subthread"
    [parentThread]="true"
  ></app-thread>
</div>
