// mat-paginator {
//   max-width: 1200px;
// }

// mat-table,
// table {
//   max-width: 1200px;
// }

// .demo-table {
//   max-width: 1200px;
// }

td,
th {
  justify-content: center;
  align-items: center;
  text-align: center;
}
