html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

router-outlet {
  width: 100%;
}

mat-card {
  border: 2px solid #7b1fa2;
  border-radius: 10px;
}

mat-slide-toggle {
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
}

mat-card-subtitle {
  cursor: pointer;
}

.span-likes {
  cursor: default;
  color: whitesmoke;
}

mat-card-content {
  color: whitesmoke;
}
