<div class="centered-container">
  <div class="threads-container">
    <mat-card *ngFor="let thread of data.data" class="thread-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="thread-avatar"
          [ngStyle]="{
            'background-image': 'url(' + (thread.image || defaultImage) + ')'
          }"
        ></div>
        <mat-card-title>{{ thread.title }}</mat-card-title>
        <mat-card-subtitle>
          By {{ thread.authorNickname }} |
          {{ thread.creationDate | date : "shortDate" }}
        </mat-card-subtitle>
        <mat-slide-toggle
          [checked]="thread.subscribe"
          (change)="onChange(thread)"
          >Slide me!</mat-slide-toggle
        >
        <span *ngIf="thread?.likes" class="span-likes" style="text-align: right"
          >Likes: {{ thread.likes }}</span
        >
      </mat-card-header>
      <mat-card-content>
        <p>{{ thread.description }}</p>
        <div class="tags-and-actions">
          <div class="tags">
            <span *ngFor="let tag of thread.tags" class="tag">#{{ tag }}</span>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="details-button"
            (click)="onDetails(thread.threadId)"
          >
            Details
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-paginator
      [length]="data.totalCount"
      [pageSize]="data.pageSize"
      [pageSizeOptions]="[2, 5, 10, 15]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
